@keyframes jelly1 {
  11.1% {
    transform: none
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg)
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg)
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
  }
  100% {
    transform: none
  }
}

@keyframes jelly2 {
	from,to {
		-webkit-transform: scale(1,1);
		transform: scale(1,1)
	}
	25% {
		-webkit-transform: scale(.9,1.1);
		transform: scale(.9,1.1)
	}
	50% {
		-webkit-transform: scale(1.1,.9);
		transform: scale(1.1,.9)
	}
	75% {
		-webkit-transform: scale(.95,1.05);
		transform: scale(.95,1.05)
	}
}

@keyframes jelly3 {
  11.1% { transform: skewX(1.5625deg) skewY(1.5625deg); }
  33.3% { transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  66.6% { transform: skewX(0.390625deg) skewY(0.390625deg); }
  88.8% { transform: skewX(-0.1953125deg) skewY(-0.1953125deg); }
}

.jelly1:hover {
  animation: jelly1 2s infinite;
  transform-origin: center
}

.jelly2:hover {
	animation: jelly2 .5s 1;
}

@keyframes scaleChange {
  20% {
    transform: none
  }
  45%{
    transform: scale(.9);
  }
  70%{
    transform: scale(1);
  }
  100% {
    transform: none
  }
}

.scaleChange {
	animation: scaleChange .5s 1;
}

.jelly3:hover {
  animation-name: jelly3;
  transform-origin: center;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
