@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.hr-bold {
  border: 1px solid rgba(228, 228, 228, 0.5);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
